<ion-card>
  <ion-card-header>
    <div class="header-content">

      <img src="../../assets/profile.jpg">
      <div class="username">
        pica sônica
      </div>

      <div class="config">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </div>
      
    </div>
  </ion-card-header>
  
  <ion-card-content>
    <img src="../../assets/feed.jpg" />
    Pica-Pau chega às telonas em uma aventura divertida e cheia de confusões – estreia em outubro de 2017.
  </ion-card-content>
</ion-card>